@import "_variables.scss";

html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -238px;
  padding: 0 0 238px;
}

// TODO: refactor
.footer {
  background: url("../img/local/footer.jpg") top center no-repeat,
  url("../img/footer_bg.png") bottom repeat-x;
  min-height: 238px;
  .row {
    color: #455B00;
    line-height: 1.7;
    padding-top: 140px;
    a {
      color: #455B00;
      font-weight: bold;
    }
  }
  .copy {
    font-size: 0.9em;
    line-height: 1.3;
    a {
      margin-top: 5px;
      display: inline-block;
    }
  }
  i {
    font-size: 44px;
    float: left;
    color :#7FA01A;
    margin-right: 15px;
  }
  .links {
    a {
      font-weight: normal;
      padding-right: 20px;
    }
  }
  .counter img {
    position: absolute;
  }
  @media (max-width: $screen-xs-max) {
    .row {
      padding-top: 120px;
      div {
        margin-bottom: 10px;
      }
    }
    .copy {
      background: #BBDE51;
    }
    .counter img {
      position: relative;
    }
  }
  @media (min-width: $screen-sm-min) {
    i {
      display: none;
    }
    .counter img {
      right: 0;
      top: -10px;
    }
  }
  @media (min-width: $screen-md-min) {
    i {
      display: block;
    }
  }
  @media (min-width: $screen-lg-min) {
    i {
      display: block;
    }
  }
}

.navbar {
  border: 0;
  .btn {
    text-decoration: none;
    padding: 10px 15px;
    border: 0;
    &:hover {
      background: #000;
    }
  }
  &-inverse {
    a {
      i {
        padding-right: 5px;
      }
    }
    .navbar-nav {
      .navbar-divider {
        display: none;
        border-top: 1px solid #000;
        border-bottom: 1px solid #333;
        margin: 6px 0;
        @media (max-width: $screen-sm-max) {
          display: block;
        }
        a {
          display: none;
        }
      }
    }
    .navbar-right {
      margin-right: 0;
    }
    .navbar-toggle {
      margin: 0;
      border-bottom: none;
      padding: 12px 13px 11px 13px;
      border-radius: 0;
      &:hover, &:focus {
        background-color: #000;
      }
      .icon-bar {
        height: 3px;
      }
    }
  }
}

.navbar-main {
  background: linear-gradient(to bottom, #ffdF64, #ffa632);
  border-top: 1px solid #ffd35d;
  border-bottom: 3px solid #eb8514;
  height: 58px;
  .navbar-nav {
    margin-right: -100px;
    background: url("../img/menu-separate.png") right no-repeat;
    > li {
      background: url("../img/menu-separate.png") left no-repeat;
      > a {
        color: #583b03;
        font-size: 16px;
        font-weight: bold;
        line-height: 58px;
        margin-top: -1px;
        @media (min-width: $screen-sm-min) {
          padding: 0 13px;
          span.menu-sm {
            display: inline;
          }
        }
        @media (min-width: $screen-md-min) {
          padding: 0 16px;
          span.menu-md {
            display: inline;
          }
        }
        @media (min-width: $screen-lg-min) {
          padding: 0 26px;
          span.menu-lg {
            display: inline;
          }
        }
        i {
          color: #a45b0e;
          font-size: 22px;
          vertical-align: middle;
          margin: -3px 5px 0 0;
          text-shadow: 1px 1px 0 #ffd95e;
        }
        i.fa-file-text {
          font-size: 20px;
        }
        span {
          display: none;
        }
      }
      > a:hover, > a:focus {
        background: none;
        box-shadow: inset 0 0 40px rgba(0,0,0,0.1);
      }
    }
  }
}

#header {
  padding: 15px 0;
}

#vse {
  display: none;
  float: right;
  margin-left: 40px;
  @media (min-width: $screen-lg-min) {
    display: block;
  }
  a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: 15px 8px;
    &:first-child {
      border: 1px solid #477ABE;
      color: #477ABE;
      margin-bottom: 8px;
      &:hover {
        background: #477ABE;
        color: #FFF;
      }
    }
    &:last-child {
      border: 1px solid #FFBB42;
      color: #FFBB42;
      &:hover {
        background: #FFBB42;
        color: #FFF;
      }
    }
    i {
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

#tbnr {
  float: right;
  margin-top: 5px;
  width: 728px;
  height: 90px;
  background: #EEEEEE;
  box-shadow: inset 0 0 60px #DDDDDD;
}

#logo {
  display: none;
  float: left;
  @media (min-width: $screen-md-min) {
    display: block;
  }
  img {
    display: block;
  }
}

#top .menu-xs {
  display: none;
  @media (max-width: $screen-xs-max) {
      display: block !important;
  }
}

section {
  padding: 15px 0 30px 0;
  &.grey {
    background: linear-gradient(to bottom, #DEE4E9, #FFFFFF);
    box-shadow: inset 0 8px 8px -8px #9B9B9B;
  }
  &.green {
    background: #CDEC72;
    border: 1px solid #ABCE41;
    border-left: none;
    border-right: none;
  }
  &.green-light {
    border: 1px solid #CBD99F;
    border-left: none;
    border-right: none;
    background: #E6F1C4;
    padding: 15px 0 0 0;
  }
  .home-title {
    overflow: hidden;
    margin-bottom: 7px;
    hr {
      border: none;
      border-bottom: 1px dashed #CCC;
      margin-top: 19px;
    }
    .home-title-text {
      float: left;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 8px 10px 8px 0;
    }
    .btn {
      margin-left: 10px;
    }
  }
}

.dashed-left {
  margin-top: 30px;
  @media (min-width: $screen-md-min) {
    border-left: 1px dashed #CCC;
    padding-left: 35px;
    margin-top: 0;
  }
}
.for-dashed-left {
  @media (min-width: $screen-md-min) {
    padding-right: 35px;
  }
}


a.thumbnail {
  margin-bottom: 15px;
  img {
    display: block;
    border-radius: $border-radius-small;
  }
  i {
    @extend img;
    background: url("../img/local/photo-none.png") center no-repeat #EEE;
    min-width: 120px;
    min-height: 110px;
  }
}

.project-home {
  a.thumbnail i {
    width: 100%;
    height: 190px;
  }
  .title {
    font-size: 18px;
  }
  .text {
    margin: 8px 0 12px 0;
  }
}

.author-home {
  .list-group-item {
    font-size: 17px;
    padding: 18px 0;
    background: transparent;
    i {
      margin-right: 10px;
      font-size: 24px;
      color: #FF6430;
    }
  }
}

@media (min-width: $screen-sm-min) {
}
@media (min-width: $screen-md-min) {
}
@media (min-width: $screen-lg-min) {
}

.btn {
  border-left: 0;
  border-right: 0;
  box-shadow: 0 1px 6px rgba(0,0,0,0.2),
              inset 0 3px 3px -3px #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  &:hover {
    text-shadow: none;
  }
  &:active {
    outline: none !important;
  }
  &:focus {
    outline: none !important;
  }
  &-link {
    border: none;
    box-shadow: none;
    text-shadow: none;
  }
  & + .btn {
    margin-left: 5px;
  }
}

.news {
  .media {
    border-bottom: 1px dashed #CCC;
    margin: 0;
    padding: 20px 0 10px 0;
    &:last-child {
      border-bottom: none;
    }
    .thumbnail {
      padding: 4px;
      margin-right: 20px;
      max-width: 130px;
    }
    &-date {
      font-size: 0.9em;
      color: #FF6430;
      margin-bottom: 6px;
    }
    &-heading {
      margin-bottom: 10px;
    }
  }
}

.list-group {
  &.row {
    margin: -3px;
  }
  .list-group-col {
    padding: 3px;
  }
  &-item {
    border-width: 0;
    padding: 5px 7px;
    border-radius: $border-radius-base;
    white-space: nowrap;
    overflow: hidden;
    &-heading {
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      margin-right: 105px;
      line-height: 1.1;
      font-size: 16px;
    }
    img {
      max-width: 55px;
      max-height: 55px;
      display: inline-block;
      margin-right: 5px;
    }
    .badge {
      position: absolute;
      right: 8px;
      top: 23px;
    }
  }
  &.list-catalog {
    .list-group-item {
      max-height: 62px;
    }
  }
  &.list-liders {
    margin: 0;
    .list-group-item {
      border-width: 1px;
    }
    .list-group-item-heading {
      margin-right: 60px;
    }
  }
}

.card-article {
  margin: 0 -30px;
  &-col {
    padding: 0 30px;
    margin-bottom: 30px;
    .thumbnail {
      i, img {
        min-height: 180px;
      }
    }
  }
}

.card-forum {
  &-item {
    background: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  &-date {
    font-size: 0.9em;
    color: #888;
    margin-top: 10px;
    i {
      color: #FF6430;
      font-size: 14px;
      margin-right: 4px;
    }
  }
  &-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid #fff;
    border-left: 20px solid transparent;
    margin-top: 10px;
    right: 50px;
  }
}